.posts-wrapper
  .post
    .post-body
      .image-wrap
        = form_for @user, url: { action: 'update' }, html: { multipart: true} do |f|
          .row
            .col-md-12
              .form-group.text-center
                %h4 Change your avatar:
                .img-circle
                  = profile_avatar_select(@user)
                = f.file_field :avatar, onChange: 'loadFile(event)'
          .row
            .col-md-12
              .form-group.text-center
                %h4 Your bio:
                = f.text_area :bio, label: false, rows: 4, class: 'form-control'
          .form-group.text-center
            = f.submit 'Edit Profile', class: 'btn btn-success'
      .text-center
        = link_to 'Go Back', profile_path(@user.user_name)
        \|
        = link_to 'Posts', root_path
      %p