.registration-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .log-in.panel
          .panel-heading
            %h2 Sign up
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = f.error_notification
              .form-inputs
                = f.input :user_name, required: true, autofocus: true, input_html: { class: 'input-lg' }
                = f.input :email, required: true, input_html: { class: 'input-lg' }
                = f.input :password, required: true, input_html: { class: 'input-lg' }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
                = f.input :password_confirmation, required: true, input_html: { class: 'input-lg' }
                = f.button :submit, "Sign up", class: 'btn-lg btn-info btn-block'
            / render "devise/shared/links"
