#comment
  .user-name
    = link_to comment.user.user_name, profile_path(comment.user.user_name)
  .comment-content
    = comment.body
  - if comment.user == current_user
    = link_to post_comment_path(post, comment), method: :delete, id: "delete-#{comment.id}", data: { confirm: "Are you sure you want to delete this comment ?" } do
      %span(class="glyphicon glyphicon-remove delete-comment")