.login-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .log-in.panel
          .panel-heading
            %h2 Log in
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-inputs
                = f.input :email, required: false, autofocus: true, input_html: { class: 'input-lg' }
                = f.input :password, required: false, input_html: { class: 'input-lg' }
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
                = f.button :submit, "Log in", class: 'btn-lg btn-info btn-block'
            / render "devise/shared/links"
