.posts-wrapper
  .post
    .post-body
      .image-wrap
        = form_image_select(@post)
        = simple_form_for @post, :html => { multipart: true } do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              %h4 Upload an image (this is required):
              = f.input :image, as: :file
            .form-group.text-center
              = f.input :caption
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'