.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = link_to post.user.user_name, profile_path(post.user.user_name)
      .time-ago
        = time_ago_in_words post.created_at
    .image.center-block
      = link_to (image_tag post.image.url, class: 'img-responsive'), post_path(post)
    .post-bottom
      = render 'posts/likes', post: post
      .caption
        .caption-content
          .user-name
            = link_to post.user.user_name, profile_path(post.user.user_name)
          = post.caption
        .comments{ id: "comments_#{post.id}" }
          - if post.comments.any?
            .paginator{ id: "#comments-paginator-#{post.id}" }
              - unless post.comments.count <= 4
                = link_to "View all #{post.comments.count} comments", post_comments_path(post), remote: true, class: 'more-comments', data: { post_id: "#{post.id}", type: 'html' }
            / render post.comments.last(4), post: post
    .row
      .comment-like-form
        .like-button.col-sm-1
          = link_to '', like_post_path(post.id),remote: true, id: "like_#{post.id}", class: "like glyphicon #{liked_post post}"
        .comment-form.col-sm-11
          = form_for([post, post.comments.new]) do |f|
            = f.text_field :body, placeholder: 'Leave a comment...', id: "comment_content_#{post.id}", class: 'comment_content'
            = f.submit 'New Comment', class: 'comment-submit-button'
