.row
  = render 'post', post: @post
  .text-center.edit-links
    -if @post.user == current_user
      = link_to 'Edit', edit_post_path(@post)
      \|
      = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }
      \|
    = link_to 'Go Back', posts_path
